<h1><%= @team_name %></h1>
<h3><%= @team_motto %></h3>

<br>
<h3>Hero Name: <%= hero1.name %></h3>
<p>Hero Power: <%= hero1.power %></p>
<p>Hero Motto: <%= hero1.bio %></p>

<br>
<h3>Hero Name: <%= hero2.name %></h3>
<p>Hero Power: <%= hero2.power %></p>
<p>Hero Motto: <%= hero2.bio %></p>

<br>
<h3>Hero Name: <%= hero3.name %></h3>
<p>Hero Power: <%= hero3.power %></p>
<p>Hero Motto: <%= hero3.bio %></p>
